.text-purple {
  color: #8064a2 !important;
}
.border-purple {
  border-color: #8064a2 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-primary {
  background-color: #8064a2 !important;
  border: none;
}
.btn-primary:hover {
  background-color: #6f42c1 !important;
}
.card {
  border-radius: 14px;
}
.icon {
  width: 20px;
  height: 20px;
}
.hover-card {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}
.btn-outline-primary {
  border-color: #8064a2;
  color: #8064a2;
}
.btn-outline-primary:hover {
  background-color: #8064a2;
  color: white;
}
.bg-light-purple {
  background-color: #f7f3fa;
}

.btn-primary {
  background-color: #8064a2 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #6f42c1 !important;
}
.card p {
  line-height: 1.5;
  font-size: 0.9rem;
}
